h1 {
  font-size: 3rem;
}

/*Show Page -- divs*/
#pic-div {
  background-color: #e0739e;
}

#control-div {
  background-color: #209cee;
}

#happiness-div {
  vertical-align: middle;
  font-size: 6rem;
  text-align: center;
  text-shadow: 2px 2px 2px #7a7a7aed;
  justify-content:flex-start;
}

.box {
  background-color: #fce177;
}


























/*
img {
  max-width: 350px;
}
*/
/*

#container {
  min-width: 960px;
}

#score {
  background-color: aqua;
  height: 250px;
  width: 250px;
  text-align: center;
  justify-content: center;

}

.flex-grid {
  display: flex;
}

.flex-grid .col {
  flex: 1;
}
*/

/*
#pet-picture {
  display: inline-block;
  float: left
}

#pet-container {
  display: inline-block;
  float: right
}*/

/* style="justify-content: center;
align-items: center;" */

/* #main-container .is-fluid .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
} */

/*Pet Form -- divs*/
#pet-form-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 450px;
  height: 800px;
}

#pet-form-container h1 {
  text-align: center;
}

.label {
  color: rgb(255, 48, 86);
  font-family: 'Acme', sans-serif;
}

#create-pet {
  color: rgb(255, 48, 86);
  font-family: 'Prompt', sans-serif;
}
