h1 {
  font-size: 3rem;
}

/*Show Page -- divs*/
#pic-div {
  background-color: #e0739e;
}

#control-div {
  background-color: #209cee;
}

#happiness {
  vertical-align: middle;
  font-size: 4rem;
  text-align: center;
  text-shadow: 2px 2px 2px #7a7a7aed;
  justify-content:flex-start;
}

.box {
  background-color: #fce177;
}

.button {
  margin-right: 15px;
}

/*Pet Form -- divs*/
#pet-form-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 900px;
  height: 600px;

}

#pet-form-container h1 {
  text-align: center;
}

.label {
  color: rgb(255, 48, 86);
  font-family: 'Acme', sans-serif;
}

#create-pet {
  color: rgb(255, 48, 86);
  font-family: 'Prompt', sans-serif;
}

#create-form {
  height: 100%;
  display: flex
}

#make-a-pet {
  height: 100%;
  display: flex
}

#area {
  height: 132px;
}

#animagus-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
}

#animagus {
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 4em;
  text-shadow: 4px 4px 4px #7a7a7aed;
}

#gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
}

#gallery {
  text-align: center;
  font-size: 3em;
  font-family: 'Prompt', sans-serif;
}

#filter {
  display: flex;
  align-items: center;
  justify-content: center
}

.display-none {
  display: none
}

/* #image-display {
  display: none;
} */

.pet-image {
  width: 250px;
}

.pet-gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 810px;
}

#skeleton {
  width: 876px;
}

button.pet.button.is-warning {
  color: rgb(28, 146, 235);
  font-family: 'Russo One', sans-serif;
  font-size: 1.5em;
  margin: 5px
}

img#pet-pic {
  width: 250px;
  height: 250px;
  left: 150px;
  top: 50px;
}

#figure {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
}

#main-pet {
  width: 250px;
  height: 250px;
}

#stats {
  width: 276px;
}

#happi {
  width: 276px;
}

div.notification.is-danger.note {
  padding: 20px 10px 10px 10px ;
  margin: 5px;
}

/* Customize the label (the container) */
.label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.label-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.label-container input:checked ~ .checkmark {
  background-color: #209cee;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.label-container input:checked ~ .checkmark:after {
  display: inline;
}

/* Style the indicator (dot/circle) */
.label-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}