h1 {
  font-size: 3rem;
}

/*Show Page -- divs*/
#pic-div {
  background-color: #e0739e;
}

#control-div {
  background-color: #209cee;
}

#happiness {
  vertical-align: middle;
  font-size: 4rem;
  text-align: center;
  text-shadow: 2px 2px 2px #7a7a7aed;
  justify-content:flex-start;
}

.box {
  background-color: #fce177;
}

.button {
  margin-right: 15px;
}


























/*
img {
  max-width: 350px;
}
*/
/*

#container {
  min-width: 960px;
}

#score {
  background-color: aqua;
  height: 250px;
  width: 250px;
  text-align: center;
  justify-content: center;

}

.flex-grid {
  display: flex;
}

.flex-grid .col {
  flex: 1;
}
*/

/*
#pet-picture {
  display: inline-block;
  float: left
}

#pet-container {
  display: inline-block;
  float: right
}*/

/* style="justify-content: center;
align-items: center;" */

/* #main-container .is-fluid .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
} */

/*Pet Form -- divs*/
#pet-form-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 900px;
}

#pet-form-container h1 {
  text-align: center;
}

.label {
  color: rgb(255, 48, 86);
  font-family: 'Acme', sans-serif;
}

#create-pet {
  color: rgb(255, 48, 86);
  font-family: 'Prompt', sans-serif;
}

#dog-form {
  height: 505px;
}

#make-a-pet {
  height: 630px;
}

#area {
  height: 132px;
}

#animagus-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
}

#animagus {
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 4em;
  text-shadow: 4px 4px 4px #7a7a7aed;
}

#gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
}

#gallery {
  text-align: center;
  font-size: 3em;
  font-family: 'Prompt', sans-serif;
}

.pet-image {
  width: 250px;
}

.pet-gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 810px;
}

#skeleton {
  width: 876px;
}

button.pet.button.is-warning {
  color: rgb(28, 146, 235);
  font-family: 'Russo One', sans-serif;
  font-size: 1.5em;
}

img#pet-pic {
  width: 250px;
  height: 250px;
  left: 150px;
  top: 50px;
}

#figure {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 540px;
}

#main-pet {
  width: 250px;
  height: 250px;
}

#stats {
  width: 276px;
}

#happi {
  width: 276px;
}
